#Intro .jumbotron {
    text-align: center;
}

#problem {
    text-align: center;
}

#footer, nav {
    background-color: #e7e7e7;
}

#footer a, nav a {
    color: #7a63ff;
}

.jumbotron {
    background-color: #7a63ff;
    color: black;
}

#problem p, #problem h1, #Intro h1, #Intro p {
    background-color: #e7e7e7;
    margin: 0px;
}

#problem p, #Intro p {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#problem h1, #Intro h1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Intro .lead {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#Intro {
    margin-bottom: 0px;
}

#research h5, #research .card-text {
    text-align: center;
}

#desktoppic {
    max-width: 50vw;
    max-height: 50vh;
}

#prototype h3 {
    padding: 10px;
    background-color: #7a63ff;
}

#prototype img {
    max-width: 25vw;
}
